@import "../../../../../scss/mixins";

:host {
  @include flex(column nowrap, stretch);

  .toolbar {
    @include flex;
    flex: 0 0 40px;
    font-weight: bolder;
    padding: 0.3rem 1rem;
    background: #4c566a;
    color: #8994a9;

    &-btns {
      margin-left: auto;
      button {
        background: transparent;
        border: none;
        color: var(--color, inherit);
        outline: none !important;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }

  .content {
    @include flex(column nowrap, stretch);
    border: 3px solid #4c566a;
    flex: 1 0;
    ::ng-deep > * {
      flex: 1 0;
    }
  }
}
